@charset "utf-8";

@import "normalize";
@import "bourbon";
@import "neat";
@import "../../node_modules/material-colors/dist/colors.scss";

.hide, input.edit {
	display: none;
}

// dev

pre {
	display: none;
	font-size: 10px;
	margin: {
		top: 10px;
		bottom: 10px;
	}
}

// prod

// mixins

@mixin text--readable {
	color: #fff;
	text-shadow: 2px 1px 2px #242424;
}

@mixin animation--spin {
	-webkit-animation: spin 1s infinite linear;
	-webkit-transform-origin: 50% 50%;
	@-webkit-keyframes spin {
		0% {
			-webkit-transform: rotate(0deg);
		}
		100% {
			-webkit-transform: rotate(360deg);
		}
	}
}

// message comp

.message {
	background-color: $md-grey-900;
	padding: 15px;
	position: absolute;
	z-index: 99;
	bottom: 0;
	left: 0;
	width: 100%;
	.message__text {
		color: #fff;
	}
	.message__close {
		float: right;
		background-color: $md-red-a400;
		border: none;
		color: #fff;
	}
}

.message--success {
	background-color: $md-green-500;
}

.message--warning {
	background-color: $md-red-500;
}

// search field


.search {
	position: relative;
	.search__field {
		
	}
	.search__results {
		
	}
	.loading {
		background-image: url('../images/loading.svg');
		height: 14px;
		width: 14px;
		border-radius: 10px;
		position: absolute;
		top: 10px;
		right: 10px;
		@include animation--spin;
	}
}



body {
	background-color: $md-grey-500;
}

main {
	padding: 20px;
}

.form-inline {
	height: 50px;
	margin-bottom: 40px;
	display: block;
}

.list-group {
	margin-bottom: 10px;
}

.list-group-item {
	@include text--readable;
	.task-label {
	}
	.controls {
		float: right;
		button {
			@include text--readable;
			text-transform: uppercase;
			border: none;
			background-color: transparent;
		}
	}
	&.editing {
		label {
			display: none;
		}
		input {
			display: inline-block;
		}
	}
}
