@charset "utf-8";

@import "normalize";
@import "bourbon";
@import "neat";
@import "../../node_modules/material-colors/dist/colors.scss";

.hide, input.edit {
	display: none;
}

// dev

pre {
	display: none;
	font-size: 10px;
	margin: {
		top: 10px;
		bottom: 10px;
	}
}

// prod

// mixins

@mixin readable-text {
	color: #fff;
	text-shadow: 2px 1px 2px #242424;
}

// message comp

.message {
	background-color: $md-grey-900;
	padding: 15px;
	position: absolute;
	z-index: 99;
	bottom: 0;
	left: 0;
	width: 100%;
	.message__text {
		color: #fff;
	}
	.message__close {
		float: right;
		background-color: $md-red-a400;
		border: none;
		color: #fff;
	}
}

.message--success {
	background-color: $md-green-500;
}

.message--warning {
	background-color: $md-red-500;
}

body {
	background-color: $md-grey-500;
}

main {
	padding: 20px;
}

.form-inline {
	height: 50px;
	margin-bottom: 40px;
	display: block;
}

.list-group {
	margin-bottom: 10px;
}

.list-group-item {
	@include readable-text;
	.task-label {
	}
	.controls {
		float: right;
		button {
			@include readable-text;
			text-transform: uppercase;
			border: none;
			background-color: transparent;
		}
	}
	&.editing {
		label {
			display: none;
		}
		input {
			display: inline-block;
		}
	}
}
