<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- inject:css -->
		<link rel="stylesheet" href="styles/bootstrap.min.css">
		<!-- endinject -->

		<!-- main user styles -->
		<link rel="stylesheet" href="styles/styles.css">
	</head>

	<body>
		<!-- inject:svg -->
		<!-- endinject -->
		<header>
		</header>

		<main>
		
			<div id="app">
				
				<search-component :results="searchResults" :searchcall="dbSearch">
				</search-component>
			
				<media-component :list="medias" :types="types">
				</media-component>
				
				<!-- <pre>{{ $data | json }}</pre> -->
				
			</div> <!-- end app -->
			
			<!-- tbd replace w/ vueify or similar -->			 
			<template id="search-template">
				<message-component v-if="loading" type="">
					Loading...
				</message-component>
				<div class="form-group search">
					<input type="text" class="form-control search__form" placeholder="search media" 
					v-model="query" 
					@keyup="progress | debounce 500" 
					@keyup.esc="clear" 
					@blur="clear"
					>
					
					<div class="loading" v-if="loading">
					</div>
					<div class="search__results" 
						v-if="resultsPresent"
					>
						<ul class="list-group">
							<li class="list-group-item search__counter"
							v-if="query">{{ results.length }} results</li>
							<li class="list-group-item" 
								v-for="result in results"
								@mousedown="addMedia( result )"
							>
							{{ result.title }} ({{ result.date = null ? 'No date' : result.date }}) {{ result.type = null ? 'Unknown' : result.type }}
							</li>
						</ul>
					</div>
				</div>
				<pre>{{ $data | json }}</pre>
			</template>
			
			<template id="media-template">
				
				<div class="media"
					v-show="list.length"
				>
					<ul class="list-group media__list">
						<li class="list-group-item media__item" 
							:class="{ 'type' : media.type, 'editing' : media == editedMedia }" 
							:style="{ backgroundImage: 'url(' + media.imagePathAbsolute + ')' }"
							v-for="media in list"
							track-by="id" 
							@click="beginEdit( media )"
						>
	
							<span class="controls">
								<button class="media-remove" @click="deleteMedia( media )"
								>X</button>
							</span>
	
							<label class="media-label">{{ media.title }}</label>
	
							<div class="media__item--editing"
							@blur="completeEdit( media )"
							v-show="media == editedMedia"
							>
								<input class="edit" type="text"
									v-model="media.title"
									@keyup.enter="completeEdit( media )"
									@keyup.esc="cancelEdit( media )"
								>
								<textarea name="" id="" cols="30" rows="3"
									v-model="media.blurb"
								></textarea>
								<ul>
									<p>Select media type: </p>
									<li
									v-for="type in types"
									@click="setType( type.title )"
									>
									 {{ type.title }}
									</li>
								</ul>
								<button @mousedown="cancelEdit( media )">Cancel edit</button>
								<button
								@mousedown="completeEdit( media )"
								>Done edit</button>
							</div>
						</li>
					</ul>

				</div>
	
				<p v-else class="prompt">No media added yet</p>
	
				<pre>{{ $data | json }}</pre>
			</template>
			
			<template id="message-template">
				<div :class="messageTypes" v-show="display">
					<span class="message__text">
						<slot></slot>
					</span>
					<button class="message__close" @click="display =  false">X</button>
				</div>
			</template>
			
<!--			<h2>Vuewiki</h2>
			<div id="vuewiki">
				<div class="media">
					<div class="media__image"></div>
					<div class="media__text"></div>
				</div>
			</div>
			-->
			
		</main>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="scripts/vendors/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.5.1/vue-resource.js"></script>

		<!--inject:js-->
		<script src="scripts/vendors/vendor.js"></script>
		<script src="scripts/storage.js"></script>
		<script src="scripts/main.js"></script>
		
		<!--endinject-->
	</body>
</html>
